[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=jowe
Group=jowe
WorkingDirectory=/home/jowe/app/src/
Environment="PATH=/home/jowe/app/venv/bin"
EnvironmentFile=/home/jowe/.env
ExecStart=/home/jowe/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
